/* static/css/styles.css */
body, html {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

#plot-section, #controls-section {
    height: 100%;
    overflow-y: auto;  /* Allow vertical scrolling */
}

#controls-section {
    background-color: #f8f9fa;  /* Light grey background for better distinction */
    border-left: 1px solid #ddd; /* Add a border between the sections */
}

/* Adjust the top and left margins of the title and subtitle */
#title-section h1, #title-section #subtitle {
    margin-top: 20px;
    margin-left: 0;
}

/* Adjust the top margin of the nav-links to align with the title and subtitle */
.nav-link {
    margin-top: 0;
    margin-right: 15px; /* Space between the nav links */
}

/* Optional: If you want to fine-tune the vertical alignment */
#subtitle {
    position: relative;
    left: 30px;
    top: -15px; /* Adjust this value as needed to align with the title */
}

.comments-box {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 40px;
    height: 100px; /* Or any suitable height */
    overflow-y: auto; /* For scrollable content */
}

/* Media Queries for Responsive Adjustments */
@media (min-width: 768px) {
    #title, #subtitle {
        margin-left: 3cm;  /* Larger margin on wider screens */
    }
    #title-section {
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    #title, #subtitle {
        margin-left: 2cm;  /* Smaller margin on narrow screens */
    }
    #title-section {
        padding-left: 20px;
    }
}
