/* static/css/styles.css */
body, html {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

#plot-section, #controls-section {
    height: 100%;
    overflow-y: auto;  /* Allow vertical scrolling */
    padding: 10px;
}

#controls-section {
    background-color: #f8f9fa;  /* Light grey background for better distinction */
    border-left: 1px solid #ddd; /* Add a border between the sections */
}

#title-section {
    margin-bottom: 20px;  /* Add some space below the title section */
}

#title {
    margin-left: 1.5cm;
}

#subtitle {
    margin-left: 1.5cm;
    font-size: smaller;
}

.comments-box {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    height: 100px; /* Or any suitable height */
    overflow-y: auto; /* For scrollable content */
}