body, html {
    height: 100%;
    margin: 0;
}

.container-fluid {
    height: 100%;
}

#plot-section, #controls-section {
    height: 100%;
    width: 95%;
    overflow-y: auto;
    padding: 10px;
}

#controls-section {
    background-color: #f8f9fa;  /* Light grey background for better distinction */
    border-left: 1px solid #ddd; /* Add a border between the sections *
}
